<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="ApertureBackupContext" connectionString="metadata=res://*/ApertureBackupModel.csdl|res://*/ApertureBackupModel.ssdl|res://*/ApertureBackupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=ApertureBackup;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

  <appSettings>
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=wabackup;AccountKey=aGgDrQK6qvOI/W36GoHqIV38urJKnTWo6VY9Uwlpjz4JkY8aP9XpWS4Sv67tYrGsWh9P4qKxhe4N2/1ZQ5acGw==" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="HttpStreamingBehavior" name="Backup.Service.BackupService">
        <endpoint contract="Backup.Service.IBackupService" binding="basicHttpBinding" bindingConfiguration="HttpStreaming" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpStreaming" transferMode="Streamed" maxBufferSize="2147483647"
		 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
			<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
			  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpStreamingBehavior">
          <serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
		  
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="HttpStreaming" />
    </protocolMapping>
	 
  </system.serviceModel>
	
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="500000000"></requestLimits>
		  </requestFiltering>
	  </security>
  </system.webServer>
	
</configuration>